<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p><%=  @freelancer.name %> just join your work.</p>
  	<p>Please contact <%= @freelancer.email %> for more information.</p>
  </body>
</html>