<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>You just join a work of <%=  @customer.name %>.</p>
  	<p>Please contact <%= @customer.email %> for more information.</p>
  </body>
</html>