// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3#request-count{
	background-color: #337ab7;
	border: solid 1px #2e6da4;
	color : white;
	display: inline-block;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 1.7em;
}

.badge{
	background-color: white;
	color: #337ab7;
	font-size: 0.6em;
	padding: 5px 8px;
}

.pagination{
	margin-bottom: 0;
}

.edit-form-and-list{
	background-color: white;
	border-radius: 6px;
	padding: 15px 5px 25px 40px;
	border: solid 1px #8a8a8a;
	margin-top: 25px;
	display: inline-block;
	width: 820px;
	margin-right: 50px;
	.title{
		font-size: 1.6em;
		font-weight: bold;
		color: #337ab7;
	}
	.edit-form{
		margin-top: 10px;
		.btn{
			float: right;
		}
		.input{
			padding: 5px 10px;
			width: 250px;
			border-radius: 6px;
			border: solid 1px #8a8a8a;
			outline: 0;
		}
	}
	.content{
		width: 50%;
		padding-right: 45px;
		float: left;
		.list-all{
			padding: 0 20px;
			overflow-y :scroll;
			height: 410px;
			border-radius: 6px;
			margin-top: 20px;
			padding: 10px 10px;
			border: solid 1px #8a8a8a;
			ul{
				padding-left: 0;
				li{
					font-size: 1.2em;
					padding: 5px 5px;
					list-style: none;
					.delete-link{
						float: right;
						font-size: 0.9em;
					}
				}
				hr{
					margin: 8px 0;
					border-top: solid 1px #a9a9a9;
				}
			}
		}
	}
}
input[type="checkbox"]{
    width:20px
}
input[type="radio"]{
    width:20px;
}
input[type="submit"]{
    width:200px;
    margin-top: 20px;
}
.user_info img{
    margin-bottom: 10px
}
