<%#*<html>%>
    <%#*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">%>
    <%#*<head>%>
        <%#*<title>Freelancer Website</title>%>
        <%#*<meta charset="utf-8" />%>
        <%#*<meta name="viewport" content="width=device-width, initial-scale=1" />%>
        <%#*<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->%>
        <%#*<link rel="stylesheet" href="assets/stylesheet/main.scss" />%>
        <%#*<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->%>
        <%#*<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->%>
    <%#*</head>%>
    <%#*<body class="landing">%>
    <%#*<body class="landing">%>
        <%#*<header id="header" class="alt">%>
            <%#*<h1><strong><a href="/">Freelancer Website</a></strong></h1>%>
            <%#*<nav id="nav">%>
                <%#*<ul>%>
                    <%#*<li><a href="/">Home</a></li>%>
                    <%#*<li><a href="/signup">Sign Up</a></li>%>
                    <%#*<li><a href="/login">Sign In</a></li>%>
                <%#*</ul>%>
            <%#*</nav>%>
        <%#*</header>%>
        <%#*<section id="banner">%>
            <%#*<i class="icon fa-cloud"></i>%>
            <%#*<h2>Hire expert freelancers for your online job</h2>%>
            <%#*<p>Millions of small businesses use Freelancer to turn their ideas into reality. </p>%>
            <%#*<ul class="actions">%>
                <%#*<li><a href="/signup" class="button big special">Sign Up</a></li>%>
            <%#*</ul>%>
        <%#*</section>%>
        <%#*<section id="one" class="wrapper style1">%>
            <%#*<div class="inner">%>
                <%#*<article class="feature left">%>
                    <%#*<span class="image">%>
                        <%#= image_tag("pic01.jpg", alt: "", title: "") %>
                    <%#*</span>%>
                    <%#*<div class="content">%>
                        <%#*<h2>Need work done?</h2>%>
                        <%#*<p>Post your project and receive requests from freelancers within minutes. Our reputation system will make it easy to find the perfect freelancer for your job. It's the simplest and safest way to get work done online!</p>%>
                    <%#*</div>%>
                <%#*</article>%>
                <%#*<article class="feature right">%>
                    <%#*<span class="image">%>
                        <%#= image_tag("pic02.jpg", alt: "", title: "") %>
                    <%#*</span>%>
                    <%#*<div class="content">%>
                        <%#*<h2>How do you benefit?</h2>%>
                        <%#*<p>You'll receive requests from our talented freelancers within minutes</p>%>
                        <%#*<p>Keeping up-to-date is easy with our realtime chat, 24/7 support, time tracker, and mobile apps</p>%>
                        <%#*<p>Pay for work safely and securely. Only release payment when you are 100% satisfied with the work provided!</p>%>

                    <%#*</div>%>
                <%#*</article>%>
            <%#*</div>%>
        <%#*</section>%>
        <%#*<section id="four" class="wrapper style2 special">%>
            <%#*<div class="inner">%>
                <%#*<header class="major narrow">%>
                    <%#*<h2>Get in touch</h2>%>

                <%#*</header>%>
                <%#*<form action="#" method="POST">%>
                    <%#*<div class="container 75%">%>
                        <%#*<div class="row uniform 50%">%>
                            <%#*<div class="6u 12u$(xsmall)">%>
                                <%#*<input name="name" placeholder="Name" type="text" />%>
                            <%#*</div>%>
                            <%#*<div class="6u$ 12u$(xsmall)">%>
                                <%#*<input name="email" placeholder="Email" type="email" />%>
                            <%#*</div>%>
                            <%#*<div class="12u$">%>
                                <%#*<textarea name="message" placeholder="Message" rows="4"></textarea>%>
                            <%#*</div>%>
                        <%#*</div>%>
                    <%#*</div>%>
                    <%#*<ul class="actions">%>
                        <%#*<li><input type="submit" class="special" value="Submit" /></li>%>
                        <%#*<li><input type="reset" class="alt" value="Reset" /></li>%>
                    <%#*</ul>%>
                <%#*</form>%>
            <%#*</div>%>
        <%#*</section>%>
        <%#*<script src="assets/javascripts/jquery.min.js"></script>%>
        <%#*<script src="assets/javascripts/skel.min.js"></script>%>
        <%#*<script src="assets/javascripts/util.js"></script>%>
        <%#*<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->%>
        <%#*<script src="assets/javascripts/main.js"></script>%>

    <%#*</body>%>
<%#*</html>%>
<div class="present">
    <div class="present-text">
        <h3>Hire expert freelancers <p></p>for your online job</h3>
        <div class="present-content">Millions of small businesses use Freelancer to turn their ideas into reality. 

        </div>

        <br><br><br>
        <a href="/signup" class="join-btn">Sign Up Now</a>
    </div>
</div>
<div class="about-us" id="about-path">
    <div class="wrapper" id="wrapper1">
        <div class="image-wrapper">
            <%= image_tag("man.jpg", alt: "Picture", title: "Picture") %>
        </div>
        <div class="section-content">
            <div class="content-wrapper">
                <div class="content-title">

                    <h3>Need work done?</h3>
                    <hr>
                </div>
                <div class="content-main">
                    Post your project and receive requests from freelancers within minutes. Our reputation system will make it easy to find the perfect freelancer for your job. It's the simplest and safest way to get work done online!


                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" id="wrapper2">
        <div class="section-content">
            <div class="content-wrapper">
                <div class="content-title">

                    <h3>How do you benefit?</h3>
                    <hr>
                </div>
                <div class="content-main">
                    You'll receive requests from our talented freelancers within minutes
                </div>
                <br>
                <div class="content-main">
                    Keeping up-to-date is easy with our realtime chat, 24/7 support, time tracker, and mobile apps
                </div>
                <br>
                <div class="content-main">
                    Pay for work safely and securely. Only release payment when you are 100% satisfied with the work provided!
                </div>

            </div>
        </div>
        <div class="image-wrapper">
            <%= image_tag("home.jpg") %>
        </div>
    </div>
 
