<h2>Chose your skill</h2>
<% @categories = Category.all %>
  <% @categories.each do |category| %>
    <%= category.name %>
    <%= check_box_tag 'category_ids[]', category.id, false, class: 'form-control' %>
    <% end %>